<mat-card class="product-crud mat-elevation-z3">
    <mat-card-title>Usu&aacute;rios Cadastrados</mat-card-title>
    <div>
        <table style="margin-bottom: 10px;">
            <thead>
                <tr>
                    <th style="width: 50px; text-align: center;">Id</th>
                    <th style="width: 150px; text-align: center;">Nome</th>
                    <th style="width: 200px; text-align: center;">Sobrenome</th>
                    <th style="width: 200px; text-align: center;">E-mail</th>
                    <th style="width: 150px; text-align: center;">Nascimento</th>
                    <th style="width: 150px; text-align: center;">Escolaridade</th>
                    <th style="width: 120px; text-align: center;">A&ccedil;&otilde;es</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.nome }}</td>
                    <td>{{ user.sobrenome }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.dataNascimento | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ degrees[user.escolaridade].nome }}</td>
                    <td>
                        <a class="edit" title="Editar" routerLink="/users/update/{{ user.id }}"><i class="material-icons">edit</i></a>
                        <a class="delete" title="Excluir" routerLink="/users/delete/{{ user.id }}"><i class="material-icons">delete</i></a>
                        <a class="view" title="Detalhes" routerLink="/users/detail/{{ user.id }}"><i class="material-icons">person_search</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button mat-raised-button color="primary" (click)="openDialog()"><i class="material-icons" style="margin-right: 10px">person_add</i>Novo Usu&aacute;rio</button>
</mat-card>
